export("apply_model", "aprior", "assign.folds", "bprior", "calculate_effects_controls", "cite", "combat_apply", "combat_fit", "createMatchingIndices", "cut_brain", "cut_brain_mc", "cv", "data.frame2glmnet.matrix", "data.frame2glmnet.matrix_fit", "fit_model", "get_rotated_coordinates", "glmnet_fit", "glmnet_predict", "glmnet_select",
       "ijk2mni", "impute.glmnet.matrix", "impute.glmnet.matrix_fit", "index_median", "it.sol", "load_preloaded_covB", "loadSampleMRI", "mni2ijk", "mripredict", "mripredict_cv", "mripredict_fit", "mripredict_predict", "optimal_modulation", "plot_brain", "plot_Brain2D", "postmean", "postvar", "remove_effects",
       "remove_effects_precalculated", "rotate_brain", "rotate_brain_mc", "rotate_coordinates", "rotate_coordinates_old", "rotation_matrix_3d", "seleccio_covariables_data.frame2glmnet.matrix_fit", "split_brain", "tipett_modulation", "translate_matrix_3d")
